@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact Us</title>
</head>
<body>
    <div class="container">
        <h2>Contact Us</h2>
        <p>Si tiene preguntas o necesita ayuda, siéntase libre de contactarnos a nuestro e-mail y a nuestras redes sociales.</p>

        <hr />

            <div class="col-md-6">
                <h4>Follow Us on Social Media</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.facebook.com/ufidelitas" target="_blank">
                            <img src="~/Content/images/facebook-icon.png" alt="Facebook" style="width:30px;height:30px;" />
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ufidelitas" target="_blank">
                            <img src="~/Content/images/twitter-icon.png" alt="Twitter" style="width:30px;height:30px;" />
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ufidelitas" target="_blank">
                            <img src="~/Content/images/instagram-icon.png" alt="Instagram" style="width:30px;height:30px;" />
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/school/ufidelitas/" target="_blank">
                            <img src="~/Content/images/linkedin-icon.png" alt="LinkedIn" style="width:30px;height:30px;" />
                            LinkedIn
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>